<div class="row justify-content-center">
  <div class="form-group col-sm-6">
    <input type="text" class="form-control" [(ngModel)]="tool" [ngbTypeahead]="search"
    (keyup.enter)="showCharts()" placeholder="tools, technologies, frameworks"/>
  </div>
</div>
<div class="row justify-content-center mt-3">
  <h5>{{chartTitle}}</h5>
</div>
<div class="row justify-content-center">
  <div class="col-md-6 text-center mb-2" *ngFor="let group of people">
    <hr><h6>{{group.title}}</h6><hr>
    <div class="chart">
      <canvas baseChart
        [data]="group.data"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions">
      </canvas>
    </div>
  </div>
</div>
