<div class="row">
  <div class="col-md-12">
    <h4 class="mb-n1">{{capability.name}} Capability</h4>
    <span class="text-muted font-italic"><small>responses: {{capability.responses}} ({{headcount(capability)}})</small></span><hr>
  </div>
  <div class="col-md-6 text-center" *ngFor="let category of capability.categories">
    <h5>{{category.name}}</h5><hr>
    <div class="chart-wrapper">
      <canvas baseChart
        [datasets]="category.dataset"
        [labels]="category.labels"
        [options]="chartOptions"
        [chartType]="'bar'">
      </canvas>
    </div><hr>
  </div>
</div>
