<div class="row">
  <div class="col-md-12">
    <h4 class="mb-n1">DevOps Capability</h4>
    <span class="text-muted font-italic"><small>responses: 31</small></span><hr>
  </div>
  <div class="col-md-6 text-center">
    <h5>Containers</h5><hr>
    <div class="chart-wrapper">
      <canvas baseChart
        [datasets]="chartData[0]"
        [labels]="chartLabels[0]"
        [options]="chartOptions"
        [chartType]="chartType">
      </canvas>
    </div><hr>
  </div>
  <div class="col-md-6 text-center">
    <h5 class="text-center">Infra as Code</h5><hr>
    <div class="chart-wrapper">
      <canvas baseChart
        [datasets]="chartData[1]"
        [labels]="chartLabels[1]"
        [options]="chartOptions"
        [chartType]="chartType">
      </canvas>
    </div><hr>
  </div>
</div>
